/* Common Styles  */
* {
    margin: 0;
}
body {
    background-color: #111;
    color: #FFF;
}
.inter-normal {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
@font-face {
  font-family: 'Miama';
  src: url('resources/Miama.ttf');
  font-style: normal;
}
.f-14 {
    font-size: 14px;
}
.f-16 {
    font-size: 16px;
}
.f-18 {
    font-size: 18px;
}
.f-20 {
    font-size: 20px;
}
.f-24 {
    font-size: 24px;
}
.f-36 {
    font-size: 36px;
}
.f-40 {
    font-size: 40px;
}
.f-48 {
     font-size: 48px;
}
.f-78 {
    font-size: 78px;
}
.light {
    font-weight: 200;
}
.semi {
    font-weight: 600;
}
.bold {
    font-weight: 700;
}
.extra {
    font-weight: 800;
}
.tomato {
    color: #E6533C;
}
.white {
    color: white;
}
.black {
    color: black
}



/* TOP Section  */
.top {
    background: linear-gradient(#111,#222,#111);
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 3% 8%;
    align-items: center;
}
.nav-links {
    padding: 10px 0;
    border: 1px solid #444;
    border-radius: 40px;
}
.nav-links li {
    display: inline;
    list-style: none;
    color: white;
    padding: 0;
    
}
.nav-links a {
    text-decoration: none;
    margin: 0;
    padding: 10px 15px;
    border-radius: 40px;
}
.nav-links a:focus {
    background-color: #E6533C;
    transition: background-color, 0.5s, ease, 0.5s;
}

.hero {
    padding: 3% 8% 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-img {
    margin-right: 4%;
    position: relative;
}
.box {
    width: 180px;
    height: 100px;
    border-radius: 15px;
    position: absolute;
    color: #FFF;
}
#box-1 {
    top: 100px;
    right: -80px;
    background-color: #FFF2;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#box-2 {
    bottom: 50px;
    left: -80px;
    backdrop-filter: blur(10px);
    background-color: #fff1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
}
.play-image img {
    width: 30px;
}
.hero-desc > h1 > span {
    font-family: 'Miama', sans-serif;
    font-weight: 500;
}
.hero-desc > h1 {
    line-height: 100%;
}
.hero-desc p {
    margin-top: 30px;
    width: 60%;
    font-weight: 300;
}
.btns {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    width: 50%;
}
.btn {
    padding: 15px 20px;
    border-radius: 30px;
    color: white;
}
.orange-btn {
    background-color: #E6533C;
    border: none;
}
.dark-btn {
    background-color: #111;
    border: 1px solid #444;
}

/* Habit part  */
.habit {
    background-color: #111;
    color: #FFF;
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 0 8%;
}
.habit-desc {
    text-align: center;
}
.habit-gallery {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.habit-gallery > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
}
.habit-gallery > div > img {
    border-radius: 50%;
}
.habit-gallery > div > h4 {
    font-size: 20px;
}
.habit-gallery > div > p {
    font-size: 14px;
    font-weight: 300;
    padding: 0 10px;
    text-align: center;
}

/* Run Part  */
.run {
    background-color: #333;
    margin: 150px 12%;
    color: #FFF;
    display: flex;
    gap: 5%;
    border-radius: 10px;
    padding: 30px 2%;
    align-items: center;

}
.run > div {
    width: 50%;
}
.run > div >img {
    width: 80%;
    border-radius: 15px;
}
.run-head h2 {
    margin-bottom: 20px;
}
.run-head p {
    margin-bottom: 20px;
    padding-right: 10%;
}

/* Training  */
.train-head {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}
.train-gallery {
    padding: 0 15%;
    display: grid;
    grid-template-areas: "i1 i1 i1 i2 i2 i2 i2 i2 i2 i3 i3 i3"
    "i4 i4 i4 i4 i4 i5 i5 i5 i6 i6 i6 i6";
    gap: 0px;
}
:root {
    --wide: 100%;
    --high: 200px;
    --bg: cover;
}
.p1 {
    background-image: linear-gradient(rgba(48, 129, 154, 0.5),rgba(48, 129, 154, 0.5)), url(images/exercise1.jpg);
    background-size: var(--bg);
    width: var(--wide);
    height: var(--high);
    grid-area: i1;
    background-repeat: no-repeat;
}
.p2 {
    background-image: linear-gradient(rgba(188, 128, 88, 0.5),rgba(176, 143, 84, 0.5)), url(images/exercise2.png);
    background-size: var(--bg);
    grid-area: i2;
    background-repeat: no-repeat;
    width: var(--wide);
    height: var(--high);
}
.p3 {
    background-image: linear-gradient(rgba(80, 75, 72, 0.5),rgba(91, 88, 85, 0.5)), url(images/exercise3.png);
    background-size: var(--bg);
    grid-area: i3;
    background-repeat: no-repeat;
    width: var(--wide);
    height: var(--high);
}
.p4 {
    background-image: linear-gradient(rgba(60, 40, 38, 0.425),rgba(82, 58, 52, 0.5)), url(images/exercise4.png);
    background-size: var(--bg);
    grid-area: i4;
    background-repeat: no-repeat;
    width: var(--wide);
    height: var(--high);
}
.p5 {
    background-image: linear-gradient(rgba(99, 154, 104, 0.5),rgba(96, 154, 100, 0.5)), url(images/exercise5.jpg);
    background-size: var(--bg);
    grid-area: i5;
    background-repeat: no-repeat;
    width: var(--wide);
    height: var(--high);
}
.p6 {
    background-image: linear-gradient(rgba(124, 106, 154, 0.5),rgba(134, 107, 171, 0.5)), url(images/exercise6.jpg);
    background-size: var(--bg);
    grid-area: i6;
    background-repeat: no-repeat;
    width: var(--wide);
    height: var(--high);
}
.train {
    margin-bottom: 100px;
}

/* Calculator Part */
.calc-head {
    margin: 0 10%;
    text-align: center;
    margin-bottom: 60px;
}
.calc {
    background-color: #222;
    padding: 50px 15%;
    display: flex;
    justify-content: space-around;
}
table {
    margin-top: 30px;
}
table, tr, td, th {
    border: 1px solid #666;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}
th {
    font-size: 16px;
    font-weight: 500;
}
td {
    font-size: 14px;
    font-weight: 200;
}
.convert {
    width: 50%;
}
.convert > h3 {
    margin-bottom: 15px;
}
.convert > p {
    margin-bottom: 30px;
}
.inputs {
    max-width: 900px;
    margin-bottom: 20px;
}
.first {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.second {
    display: flex;
    flex-direction: column;
}
.tertiary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
input, select {
    background-color: #444;
    margin: 5px 0;
    color: #ccc;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
input::placeholder {
    color: #ccc;
}

/* Team Section  */
